$card-bg: #0f1e82;

$connector-radius: 15px;

@mixin connector-bottom {
  bottom: -$connector-radius;
  // box-shadow: 0 0 0 1px #444d56;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include connector(white);
}

@mixin connector-top {
  top: -$connector-radius;
  @include connector($card-bg);
}

@mixin connector($background) {
  background: $background;
  border-radius: 50%;
  display: block;
  height: $connector-radius * 2;
  left: 50%;
  margin: 0 0 0 0 -$connector-radius;
  position: absolute;
  width: $connector-radius * 2;
  z-index: -1;
  content: "";
}

.card:before {
  @include connector-top();
}

.card:after {
  @include connector-bottom();
}

div.card {
  width: 250px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  z-index: 10;
}

div.header {
  background-color: $card-bg;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
  background: white;
}
