$card-bg: #0f1e82;

$node-width: 200px;


div.card {
  width: $node-width;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  z-index: 10;
  position: absolute;
}

div.header {
  background-color: $card-bg;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
  background: white;
}

.edge {
  position: absolute;
  z-index: -1;
}